<br/>
<div class="container form-container">
    
      <div class="title-container">
          <div class="decorative-title">
              <div class="decorative-bar left vertical thick"></div>
              <div class="decorative-bar left horizontal thick"></div>
              <div class="decorative-bar left horizontal thin"></div>
                <span class="text-center">
                    Registro de Servicios Tecnológicos UNI  
                </span>
                <div class="decorative-bar right vertical thick"></div>
                <div class="decorative-bar right horizontal thick"></div>
                <div class="decorative-bar right horizontal thin"></div>
             
      </div>
        <br/>
        <br/>
        <br/>
    <div style="text-align: justify;font-size: 18px">
       <p>Llenar el siguiente formulario con información sobre los servicios que brinda su subdependencia. Esta información nos permitirá elaborar un catálogo virtual de los servicios que brindan nuestra Universidad y será presentado en la Feria Tecnológica UNI organizada por el VRI-UNI y CEPS-UNI. Más información en contactovri@uni.edu.pe y al teléfono 4811070, anexo: 2077. 
      </p>
      </div>
</div>
  <form [formGroup]="usersForm" class="" (ngSubmit)="onSubmit()" >
    <div class="row container">
      
      <div class="col subdependencia-container">
          <mat-form-field class="subdep" style="width:81% !important">
            <input  matInput placeholder="Nombre de la subdependencia" formControlName="subdependencia">
        </mat-form-field>
 </div>

 <div class="col">
            <mat-form-field style="width:81% !important">
              <textarea matInput placeholder="Breve descripción de la subdependencia (máximo 280 caracteres)" id="descripcion"  formControlName="descripcion"></textarea>
            </mat-form-field>
          </div>
        
          <div class=col>
              <mat-form-field style="width:81% !important">
                <input matInput id="facultad"  placeholder="Facultad o Centro a la que pertenece la subdependencia" formControlName="facultad">
              </mat-form-field>
            </div>

            <div class="col">
            <mat-form-field style="width:81% !important">
                <input matInput formControlName="correo" placeholder="Correo de Contacto">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field style="width:81% !important">
                  <input matInput placeholder="Teléfono de contacto" formControlName="telefono">
                </mat-form-field>
              </div>

              <div class="col">
              <mat-form-field style="width:81% !important">
                    
                <input matInput placeholder="Sitio web de la subdependencia (solo si tiene web)" formControlName="web">
                    
              </mat-form-field>
            </div>

          <div class="col">
            <mat-form-field style="width:81% !important">
              <input matInput placeholder="Ubicación de la subdependencia"   formControlName="ubicacion">
            </mat-form-field>
          </div>  
          <br/>
          <br/>

          <label style="text-align: left;font-size: 23px"><ul>Sobre los servicios que brinda la subdependencia</ul></label>

          <br/>
          <br/>
          <br/>

          <span style="text-align: justify;font-size: 20px">Elija una o más áreas económicas a los cuales se dirigen sus servicios </span>
          <br/>
          <br/>
        <div class="col" class="categorias-container">
            <label formArrayName="categorias" *ngFor="let categoria of usersForm.controls.categorias['controls']; let i = index">
                <mat-checkbox type="checkbox" [formControlName]="i">
                {{categorias[i].name}}</mat-checkbox>
              </label>
            
        
        </div>

        <br/>
        <span style="text-align: justify;font-size: 20px">Tipos de clientes a los que se dirige sus servicios </span>
        <br/>
        <br/>
        <div class="col clientes-container">
          
          <label formArrayName="clientes" *ngFor="let cliente of usersForm.controls.clientes['controls']; let i = index">
              <mat-checkbox type="checkbox" [formControlName]="i">
              {{clientes[i].name}}</mat-checkbox>
            </label>


            
        </div>
        <br/>
        <br/> 

        <div class="col">
          <span class="" style="text-align: justify;font-size: 20px">¿Qué ventajas competitivas y/o técnicas brindan sus servicios respecto de otras empresas u universidades que son su competencia?</span>
          <div class="">
              <mat-form-field style="width:81% !important">
                  <textarea matInput placeholder="Mención alguna característica (máximo 280 caracteres)" id="caract"  formControlName="caract"></textarea>
                </mat-form-field>
          </div>
        </div>
        <br/>
        <br/>

        <div >
            <span class="" style="text-align: justify;font-size: 20px">A continuación le pedimos que ingrese los nombres de los servicios más representativos de su subdependencia o laboratorio.  
            </span>
           </div>
           <br/>
        <br/>

        <div  formArrayName="servicios" >
            <div *ngFor="let servicio of serviciosForms.controls; let i=index" [formGroupName]="i">
              <mat-form-field style="padding-right:5rem;width:40%  !important">
                <input matInput placeholder="Nombre del servicio" formControlName="servname">
              </mat-form-field>
              <mat-form-field style="padding-right:1rem;width:40%  !important">
                <textarea matInput placeholder="Descripción del servicio (máximo 280 caracteres)" formControlName="servdescribe"></textarea>
              </mat-form-field>

              <button mat-raised-button color="warn" (click)="deleteServicios(i)">Borrar</button>

            </div>
        </div>
        <span class="add-container" mat-raised-button  (click)="addServicios()">Añadir servicio</span>

        <br/><br/>
      </div>
      <div >
        <button  class="button-container"  type="submit" [disabled]="usersForm.invalid"><strong>Enviar</strong></button>
        
      </div>
      <div *ngIf="success" class="notification is-success text-center">
        <br/>
        <br/>
         <strong>El formulario fue enviado correctamente!!</strong>
      </div>
      <br/><br/>
      <br/>
     
  </form>
</div>